In [1]:
import numpy as np
import pandas as pd

In [5]:
dict={"name":["harry","rohan",'shahid','ali'],
     "marks": [92,34,54,23],
     "city":['lahore','karachi','delhi','islamabad']
     }

In [6]:
df =pd.DataFrame(dict)

In [7]:
df

     name  marks       city
0   harry     92     lahore
1   rohan     34    karachi
2  shahid     54      delhi
3     ali     23  islamabad