In [8]:
# Pierian Data Python Course from beginners to advance
# Module 3 
#Python as Calculators
2+1
23%2
2**8/2**3

32.0

In [23]:
#varibales in Python
name='Shahid'
secondName='Rasool'
#capitalize method in Python
name.capitalize()

'Shahid'

In [9]:
intro='My name is Shahid '
intro.split()
intro.split('i')

['My', 'name', 'is', 'Shahid']

In [15]:
# String formating with .format() Method
print('This is a string {}'.format('INSERTED'))
print('A {2} {1} {0} jumps over the lazy dog'.format('fox','brown','quick')) #using index numbers
print('A {q} {b} {f} {j} over the lazy dog'.format(f='fox',b='brown',q='quick',j='jumps' )) #using varibles

This is a string INSERTED
A quick brown fox jumps over the lazy dog
A quick brown fox jumps over the lazy dog

In [30]:
#float formating using formate method
result=100/777
print(result)
#Float Formating follows "{value:width.prescesion}"
#[r=result]:[10=created empty space after (was)]. [3f= numbers after decimal] 
print("the result was {r:15.3f}".format(r=result)) 
myName='Shahid Chaudhary'
#f string formated Method
print(f'Hello, My name is {myName}')

0.1287001287001287
the result was           0.129
Hello, My name is Shahid Chaudhary